<a href="https://colab.research.google.com/github/fantumboy/deep-learning-challenge/blob/main/Starter_Code_SOLVED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [57]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [58]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
updated_df = application_df.drop(['EIN', 'NAME'], axis = 1)
updated_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [59]:
# Determine the number of unique values in each column.
unique_counts_column = updated_df.nunique()
unique_counts_column

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [60]:
# Look at APPLICATION_TYPE value counts for binning
application_type_value_counts = updated_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# application_types_to_replace = updated_df['APPLICATION_TYPE']

name_counts = updated_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(name_counts[name_counts <= 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    updated_df['APPLICATION_TYPE'] = updated_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
updated_df['APPLICATION_TYPE'].value_counts()


# name_counts = application_df['NAME'].value_counts()
# application_type_to_replace = list(name_counts[name_counts <= 500].index)


# # Replace in dataframe
# for app in application_type_to_replace:
#     application_df['NAME'] = application_df['NAME'].replace(app,"Other")


# Check to make sure binning was successful
# updated_df['NAME'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [62]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = updated_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [63]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_filtered = classification_value_counts[classification_value_counts > 1]
class_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [64]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_counts = updated_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    updated_df['CLASSIFICATION'] = updated_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
updated_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [65]:
# Convert categorical data to numeric with `pd.get_dummies`
columns_to_convert = ['APPLICATION_TYPE',	'CLASSIFICATION', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']
df_converted = pd.get_dummies(updated_df, columns = columns_to_convert)
df_converted

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [66]:
# Split our preprocessed data into our features and target arrays
X = df_converted[['STATUS',
                  'ASK_AMT',
                  'APPLICATION_TYPE_Other',
                  'APPLICATION_TYPE_T10',
                  'APPLICATION_TYPE_T19',
                  'APPLICATION_TYPE_T3',
                  'APPLICATION_TYPE_T4',
                  'APPLICATION_TYPE_T5',
                  'APPLICATION_TYPE_T6',
                  'APPLICATION_TYPE_T7',
                  'APPLICATION_TYPE_T8',
                  'CLASSIFICATION_C1000',
                  'CLASSIFICATION_C1200',
                  'CLASSIFICATION_C2000',
                  'CLASSIFICATION_C2100',
                  'CLASSIFICATION_C3000',
                  'CLASSIFICATION_Other',
                  'AFFILIATION_CompanySponsored',
                  'AFFILIATION_Family/Parent',
                  'AFFILIATION_Independent',
                  'AFFILIATION_National',
                  'AFFILIATION_Other',
                  'AFFILIATION_Regional',
                  'USE_CASE_CommunityServ',
                  'USE_CASE_Heathcare',
                  'USE_CASE_Other',
                  'USE_CASE_Preservation',
                  'USE_CASE_ProductDev',
                  'ORGANIZATION_Association',
                  'ORGANIZATION_Co-operative',
                  'ORGANIZATION_Corporation',
                  'ORGANIZATION_Trust',
                  'INCOME_AMT_0',
                  'INCOME_AMT_1-9999',
                  'INCOME_AMT_10000-24999',
                  'INCOME_AMT_100000-499999',
                  'INCOME_AMT_10M-50M',
                  'INCOME_AMT_1M-5M',
                  'INCOME_AMT_25000-99999',
                  'INCOME_AMT_50M+',
                  'INCOME_AMT_5M-10M',
                  'SPECIAL_CONSIDERATIONS_N',
                  'SPECIAL_CONSIDERATIONS_Y']]

y = df_converted['IS_SUCCESSFUL']

# list(df_converted.columns)

# print(df_converted['INCOME_AMT'].value_counts())

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [67]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [70]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=3))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 80)                320

 dense_31 (Dense)            (None, 30)                2430

 dense_32 (Dense)            (None, 1)                 31

=================================================================
Total params: 2781 (10.86 KB)
Trainable params: 2781 (10.86 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [71]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

ValueError: ignored

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file

train_model.save('train_model.h5')

# loaded_model = load_model('your_model.h5')
# loaded_model.summary()